In [38]:
import pandas as pd

In [39]:
series = pd.Series(["BMW","Toyota","Nissan"])

In [40]:
series

0       BMW
1    Toyota
2    Nissan
dtype: object

In [41]:
color = pd.Series(["White","Black","Blue"])

In [42]:
print(color)

0    White
1    Black
2     Blue
dtype: object

In [43]:
car_data = pd.DataFrame({"Car Make":series,"Color":color})

In [44]:
car_data

  Car Make  Color
0      BMW  White
1   Toyota  Black
2   Nissan   Blue