In [3]:
import pandas as pd

In [4]:
export_car_sales = pd.read_csv("car-sales.csv")

In [5]:
export_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

#### To export"car-sales.csv"

In [6]:
export_car_sales.to_csv("exported-car-sales.csv",index=False)

In [7]:
exported_cars = pd.read_csv("exported-car-sales.csv")

In [8]:
exported_cars

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

# Describe Data

In [15]:
cars = export_car_sales

### Car Branded

In [21]:
car_brand_list = []
for brand in cars.Make:
    if brand not in car_brand_list:
        car_brand_list.append(brand)

In [22]:
print(car_brand_list)

['Toyota', 'Honda', 'BMW', 'Nissan']

### Most Expensive Car

In [25]:
car_prices = [float("".join(price[1:].split(","))) for price in cars.Price]

In [26]:
print(car_prices)

[4000.0, 5000.0, 7000.0, 22000.0, 3500.0, 4500.0, 7500.0, 7000.0, 6250.0, 9700.0]

In [27]:
most_expensive_car = max(car_prices)

In [28]:
print(most_expensive_car)

22000.0

In [29]:
x = car_prices.index(most_expensive_car)

In [30]:
most_expensive_car_details = cars[cars.index == x]
print(most_expensive_car_details)

  Make Colour  Odometer (KM)  Doors       Price
3  BMW  Black          11179      5  $22,000.00

In [31]:
print(most_expensive_car_details.Make)

3    BMW
Name: Make, dtype: object

### Most Cheap Car Details

In [63]:
most_cheap_car = cars[cars.index == car_prices.index(min(car_prices))]
print(most_cheap_car)

     Make Colour  Odometer (KM)  Doors      Price
4  Nissan  White         213095      4  $3,500.00

In [32]:
average_of_car_prices = sum(car_prices) / len(car_prices)
print(average_of_car_prices)

7645.0

In [33]:
cars.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [34]:
cars.index

RangeIndex(start=0, stop=10, step=1)

### White Cars

In [35]:
white_cars = cars[cars["Colour"] == "White"]
print(white_cars)

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
4  Nissan  White         213095      4  $3,500.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

### Most 5 Runed cars

In [42]:
odometer_cars = [car for car in cars["Odometer (KM)"]]
odometer_cars.sort(reverse=True)
print(odometer_cars[:5])

[213095, 150043, 99213, 87899, 60000]

### Car Colors

In [55]:
car_colors = []
for car in cars.Colour:
    if car not in car_colors:
        car_colors.append(car)

In [56]:
print(car_colors)

['White', 'Red', 'Blue', 'Black', 'Green']

### Most Popular Color

In [104]:
car_colors = {}
for color in cars.Colour:
    if color in car_colors:
        car_colors[color] += 1
    else:
        car_colors[color] = 1

max_colors = [car_colors[color] for color in car_colors]
populer_number = max(max_colors)

for key,val in car_colors.items():
    if val == populer_number:
        print(f"Most Populat Color is {key}, There're {val} cars")

Most Populat Color is White, There're 4 cars

In [105]:
print(car_colors)

{'White': 4, 'Red': 1, 'Blue': 3, 'Black': 1, 'Green': 1}

### Most Popular Door Type

In [140]:
door_types = pd.Series(cars.Doors).to_list()
door_types_dict = {}
for door in door_types:
    if door in door_types_dict:
        door_types_dict[door] += 1
    else:
        door_types_dict[door] = 1
popular_door_list = [val for key,val in door_types_dict.items()]
max_number = max(popular_door_list)

most_famous_door_type = 0
for key,val in door_types_dict.items():
    if val == max_number:
        most_famous_door_type += key
        print(f"Most Popular Door Type is {key}, There're {val} Cars")

Most Popular Door Type is 4, There're 8 Cars

### Populer Door Type Car Information

In [144]:
car_doors = cars[cars.Doors == most_famous_door_type]

In [145]:
print(car_doors)

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00
4  Nissan  White         213095      4  $3,500.00
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [146]:
print(cars["Odometer (KM)"].mean())

78601.4

In [147]:
df = pd.Series([23,55,34,65,23])
df.sum()

200

In [148]:
df.mean()

40.0

In [149]:
df.min()

23

In [150]:
df

0    23
1    55
2    34
3    65
4    23
dtype: int64

In [151]:
df.to_dict()

{0: 23, 1: 55, 2: 34, 3: 65, 4: 23}

In [152]:
df.to_list()

[23, 55, 34, 65, 23]

In [160]:
x = df.to_dict()

print(x)

{0: 23, 1: 55, 2: 34, 3: 65, 4: 23}

In [166]:
y = pd.DataFrame([x])
print(y.to_dict("records"))

[{0: 23, 1: 55, 2: 34, 3: 65, 4: 23}]

In [167]:
cars.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00